<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.asp" />
                <add value="index2.asp" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
